.server{
    border-radius: 1000px;
     -webkit-padding-before: 40px    ;
    -webkit-text-stroke-color: blue;
}
.server:hover{
-webkit-animation:myanim 1s linear infinite}
@-webkit-keyframes myanim{
    from{
background-color: white;    }
    to{

    }
}